parameters:
  paths:
    - ../../src/
    - ../../bin/header-stamp
  level: 7
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
  - '#Parameter \#2 \$str of function explode expects string, array<string>\|bool\|string\|null given.#'
